<template name='conversation'>
  <div class='message-list'>
    <ul>
      {{#each conversation in conversations}}
      <li><a href='' class='conversation-contact' data-val='{{conversation._id}}'>{{conversation_with conversation.parties}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>
