@keyframes slide-from-top-slide-out {
    0%   {top: -100vh; opacity: 0;}
    25%  {top: 0px; opacity: 1;}
    50%  {top: 0px; opacity: 1;}
    100% {top: -100vh; opacity: 0;}
}

@keyframes fade-in {
    0%   {opacity: 0;}
    25%  { }
    50%  { }
    100% { opacity: 1;}
}

@keyframes slide-from-left {
  0%   {left: -350px; opacity: 0;}
  100% {left: 0px; opacity: 1;}
}
