.contact{
  text-align: left;
  background-color: white;
  width: 100%;
  position: relative;
  border-radius: 5px;
  padding: 30px 15px;

  .contact-list-item{
    text-align: center;
    animation: fade-in;
    animation-duration: 1s;

    .contact-avatar{
      margin: 0 auto;
      margin-bottom: 30px;
      background-image: url('/images/placeholder/contact-avatar.png');
      background-position: center center;
      background-size:cover;
      background-repeat: no-repeat;
      background-attachment: local;
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }
  }

  .contact-list-item-footer{
    background-color: #2c3e50;
    margin: 15px -15px -15px -15px;
    padding: 10px 20px;
    border-radius: 0px 0px 4px 4px;

    .btn{
      background-color: #2c3e50;
      color: white;
    }
  }
}

@media only screen and (max-width: 950px){
  .contact{
    margin-top: 0px;
    border-radius: 0px;
    background-color: transparent;

    .contact-header{
      background-color: white;
      padding: 10px 5px;
      margin-top: -10px;
      margin-bottom: 25px;

      .form-group{
        float: right;
        margin-right: 10px;

        input{
          border-radius: 5px;
        }
      }
    }

    hr{
      display: none;
    }


  }
}

@media only screen and (max-width: 765px){
  .contact{
    display: none;

    .contact-header{
      .form-group{
        width: 100%;
        margin-right: 0px;
      }

      .btn-group{
        width: 100%;
        margin-bottom: 5px;

        button{
          width: 100%;
        }
      }
    }
  }
}
