.contact-mobile{
  text-align: left;
  position: relative;
  overflow: hidden;
  display: none;

  .contact-mobile-header{
    background-color: white;
    width: 100%;
    padding: 10px 15px;
    display: table;

    .title{
      float: left;
      width: 50%;
      font-weight: bold;
    }
    .action{
      float: left;
      width: 50%;
      text-align: right;
    }
  }

  .contact-mobile-list{
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    .contact-mobile-list-item{
      border-bottom: 1px solid #16a085;
      padding: 10px 15px;
      display: table;
      width: 100%;
      cursor: pointer;

      .avatar{
        background-image: url('/images/placeholder/contact-avatar.png');
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: local;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        float: left;
      }
      .content{
        float: left;
        margin-left: 15px;
        width: calc(100% - 135px);
        color: white;
      }
      .action{
        float: left;
        width: 60px;
        text-align: right;

        a{
          color: white;
        }

        ul{
          z-index: 3000;
          position: absolute;
          
          li{
            a{
              color: black;
            }
          }
        }
      }
    }

    .contact-mobile-list-item:nth-child(odd){
      background-color: #16a085;
    }
  }
}

@media only screen and (max-width: 950px){

}

@media only screen and (max-width: 765px){
  .contact-mobile{
    display: block;
  }
}
