.member{
  .message-area{
    .conversation-mobile{
      min-height: calc(100vh - 53px);
      background-color: #1abc9c;
      display: none;

      ul{
        margin: 10px 0px;
        padding: 0px;

        li{
          margin: 0px;
          padding: 0px;
          list-style-type: none;

          .active{
            color: #1abc9c;
          }

          a{
            display: block;
            padding: 5px 10px;
            color: white;
            border-bottom: 1px solid #16a085;
          }
        }
      }

      .conversation-action{
        display: table;
        width: 100%;
        padding: 5px 15px;
        text-align: right;

        .conversation-action-btn{
          color: #2c3e50;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px){
  .member{
    .message-area{
      border-radius: 0px;
      min-height: calc(100vh - 53px);
      text-align: left;

      .conversation-mobile{
        border-radius: 0px;
      }
    }
  }
}


@media only screen and (max-width: 750px){
  .member{
    .message-area{
      .conversation-mobile{
        display: none;
        position: absolute;
        width: 100%;
        top: 0px;
        z-index: 1005;
      }
    }
  }
}
