.member{
  background-color: #bdc3c7;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .container{
    .navbar-header{
      a{
        padding: 0px 15px;
        margin: 0px;
      }
    }
  }

  #burger-menu{
    display: none;
  }
}

@media only screen and (max-width: 950px){
  .member{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #1abc9c;

    .container{
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    nav.navbar{
      width: 100%;
      margin: 0px;
      border-radius: 0px;
    }
  }
}

@media only screen and (max-width: 790px){
  .member{
    #burger-menu{
      display: block;
      float: right;
    }
  }

  nav.navbar{
    width: 100%;
    margin: 0px;
    border-radius: 0px;

    ul{
      display: none;
    }
  }

  nav{
    .navbar-header{
      width: 80px !important;
      float: left;
    }
  }

  #burger-menu-list{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    width: 325px;
    background-color: #16a085;
    min-height: 100vh;
    border-radius: 0px;
    animation-name: slide-from-left;
    animation-duration: 1s;
    font-size: 18px;
    z-index: 5000;

    a{
      color: white;
    }
  }
}
