.message-navigation{
  background-color: #ecf0f1;
  position: absolute;
  width: calc(100%);
  min-height: calc(100vh - 123px);
  top: 125px;
  z-index: 1003;
  border-top: 1px solid #ccc;
  /*box-shadow: 0px 1px 5px rgba(0,0,0,0.7);*/
  display: none;
  animation-name: fade-in;
  animation-duration: 1s;

  .container{
    position: relative;
    overflow: auto;

    .message-navigation-action{
      float: right;
      font-size: 16px;
      border: none;
      height: 20px;
      width: auto;
      color: #2c3e50 !important;
    }

    .row{
      margin: 0px;
    }

    a{
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 1px solid #ccc;
      margin: 20px 10px;
      display: block;
      font-size: 38px;
    }
  }
}
