.member{
  .message-area{
    display: table;
    width: 100%;
    background: #1abc9c;
    padding: 0px;
    border-radius: 5px;
    position: relative;

    .message{
      background-color: white;
      border-radius: 5px;
      position: relative;
      height: calc(100vh - 150px);
      width: calc(100% - 250px);
      float: left;

      .header{
        border-bottom: 1px solid whitesmoke;
        border-radius: 0px 5px 0px 0px;
        display: inline-block;
        width: 100%;
        position: relative;
        padding: 15px 20px;
        background-color: #ecf0f1;
        color: #2c3e50;

        h3{
          margin: 0px;
        }

        .avatar{
          float: left;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          background-image: url('/images/placeholder/contact-avatar.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .description{
          float: left;
          padding: 0px 30px;

          h5{
            font-size: 18px;
          }
        }

        .action{
          float: right;
          width: 50px;
          text-align: right;

          button{
            border: 0px;
            background: none;
            margin-top: 10px;
          }
        }
      }

      .content{
        /*background-color: #ecf0f1;*/
        padding: 15px;
        /*border-radius: 5px;*/
        overflow: auto;
        height: calc(100vh - 150px - 175px);

        .message-bubble-me{
          padding: 5px 10px;
          margin-bottom: 5px;
          border-radius: 5px;
          border: 1px solid whitesmoke;
          text-align: right;
          color: black;
        }

        .message-bubble-them{
          padding: 5px 10px;
          margin-bottom: 5px;
          border-radius: 5px;
          border: 1px solid whitesmoke;
          background-color: #2ecc71;
          color: white;
          text-align: left;
        }
      }

      .footer{
        /*background-color: #2c3e50;*/
        background-color: white;
        border-radius: 0px 0px 5px 0px;
        padding: 15px 15px 10px 15px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: white;
      }

      .message-input-group{
        position: relative;
        width: 100%;
        border: 1px solid #ccc;
        /*border-radius: 5px;*/
        display: inline-block;

        .message-input{
          float: left;
          width: calc(100% - 48px);
          padding: 5px 15px;
          height: 38px;
          border: 0px solid white;
          /*border-radius: 5px 0px 0px 5px;*/
          color: black;
        }

        .message-send-btn{
          float: left;
          margin: 0px;
          padding: 0px 15px;
          height: 38px;
          background-color: white;
          color: black;
          border: 0px;
          /*border-radius: 0px 5px 5px 0px;*/
        }
      }
    }

    .message-list{
      width: 250px;
      float: left;
      background: #1abc9c;
      min-height: 100%;
      border-radius: 5px;
      text-align: left;

      ul{
        margin: 10px 0px;
        padding: 0px;

        li{
          margin: 0px;
          padding: 0px;
          list-style-type: none;

          .active{
            color: #1abc9c;
          }

          a{
            display: block;
            padding: 5px 10px;
            color: white;
            border-bottom: 1px solid #16a085;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px){
  .member{
    .message-area{
      border-radius: 0px;
      min-height: calc(100vh - 53px);

      .message-list{
        border-radius: 0px;
      }

      .message{
        border-radius: 0px;
        min-height: calc(100vh - 53px);

        .header{
          border-radius: 0px;
        }
        .content{
          min-height: calc(100vh - 235px);
        }
        .footer{
          border-radius: 0px;
          background-color: white;
        }
      }
    }
  }
}


@media only screen and (max-width: 750px){
  .member{
    .message-area{
      .message-list{
        display: none;
      }

      .message{
        width: 100%;
        display: table-cell;
      }
    }
  }
}
