.create-modal{
  position: absolute;
  width: calc(100% - 30px);
  top: 20px;
  background-color: #16a085;
  display: block;
  border-radius: 5px;
  padding: 10px;
  content: " ";
  z-index: 4001;
  animation: fade-in;
  animation-duration: 1.5s;

  .header{
    padding: 15px;
    color: white;
    width: 100%;
    text-align: right;

    .header-title{
      font-size: 16px;
      float: left;
    }
  }

  .content{
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    padding: 15px;

    .contact-create-list{
      border-radius: 5px;
      margin-left: 0px;
      padding-left: 0px;
      display: inline-block;
      width: 100%;

      li{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: block;
        cursor: pointer;

        .name{
          width: calc(100% - 60px);
          float: left;
        }

        .checkbox{
          width: 30px;
          float: left;
        }

        a{
          display: block;
          padding: 5px 10px;
          color: white;
        }
      }
    }
  }

  .footer{
    padding: 15px 0px;
    text-align: right;
  }
}

.modal-curtain{
  background-color: black;
  opacity: 0.8;
  position: absolute;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
