.profile{
  text-align: left;

  .header{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;

    .action-group{
      margin-top: 15px;
    }
  }

  .form{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 950px){
  .profile{
    .header{
      border-radius: 0px;
      margin-top: 20px
    }

    .form{
      background-color: white;
      padding: 15px;
      border-radius: 0px;
      margin-bottom: 25px;
    }
  }
}
