body{
  margin: 0px;
  padding: 0px;
}

.public{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #2ecc71;
  color: white;

  .andro-form{
    text-align: center;
    width: 100%;
    padding-top: 50px;

    .container{
      max-width: 580px;
      margin: 0 auto;
      padding: 20px 40px;
      border-radius: 8px;
      background-color: #27ae60;

      a{
        color: white;
      }
    }

    .footer{
      margin: 0 auto;
      max-width: 580px;
      padding: 20px 40px;

      a{
        color: white;
      }
    }
  }
}
