.toaster{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  animation-name: slide-from-top-slide-out;
  animation-duration: 6s;

  .success{
    background-color: #1abc9c;
    color: white;
    padding: 5px 15px;
  }

  .failed{
    background-color: #e74c3c;
    color: white;
    padding: 5px 15px;
  }
}
