<template name='register'>
  <div class='andro-form'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='row'>
            <div class='col-md-12'>
              <img src='/images/logo/andromeda-logo-nt.png' width='100px'/>
              <h5>ANDROMEDA</h5>
              <small>REGISTER</small><br><br>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='row'>
            <div class='col-md-12'>
              <input type='text' class='form-control' id='first-name' placeholder='First name' /><br>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <input type='text' class='form-control' id='last-name' placeholder='Last name' /><br>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <input type='text' class='form-control' id='email' placeholder='Email Address' /><br>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <input type='password' class='form-control' id='password' placeholder='Password' /><br>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <button class='btn btn-primary' id='register-button'>Register</button><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='footer'>
      <div class='row'>
        <div class='col-xs-6'>
          <a href='/'>Login</a><br>
        </div>
        <div class='col-xs-6'>
          <a href='/forgot-password'>Forgot Password</a><br>
        </div>
      </div>
    </div>
  </div>

  {{> toaster}}
</template>
