<template name='conversationMobile'>
<div class='conversation-mobile'>
  <div class='conversation-action'>
    <a href='' class='conversation-action-btn' id='close-conversation-mobile'><span class='fui-cross'></span></a>
  </div>

  <ul>
    {{#each conversation in conversations}}
    <li><a href='' class='conversation-contact' data-val='{{conversation._id}}'>{{conversation_with conversation.parties}}</a></li>
    {{/each}}
  </ul>
</div>
</template>
