<template name='memberLayout'>
  <div class='member'>
    <div class='container'>
      <nav class='navbar navbar-inverse navbar-embossed'>
        <div class='navbar-header'>
          <a href="" class='navbar-brand'><img src='/images/logo/andromeda-logo-nt.png' height='53px'/></a>
        </div>

        <ul class='nav navbar-nav navbar-left'>
          <li>
            <a href='/contact'><span class='fui-user'></span> Contact</a>
          </li>
          <li>
            <a href='/message'><span class='fui-chat'></span> Messages</a>
          </li>
          <!-- <li>
            <a href=''>Occasion</a>
          </li> -->
        </ul>

        <ul class='nav navbar-nav navbar-right'>
          <li class='dropdown'>
            <a href='' class='dropdown-toggle' data-toggle='dropdown'>
              <span class='fui-gear'></span>
              <span class='caret'></span>
            </a>

            <ul class='dropdown-menu'>
              <li><a href='/profile'>Profile</a></li>
              <li class='divider'></li>
              <li><a href='#' class='logout-nav'>Logout</a></li>
            </ul>
          </li>
        </ul>

        <button class='collapsed navbar-toggle' id='burger-menu'><span class='fui-list'></span></button>
      </nav>

      <ul id='burger-menu-list' class="dropdown-menu">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/message">Message</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/profile">Profile</a></li>
        <li><a class='logout-nav'>Logout</a></li>
      </ul>

      {{> Template.dynamic template=content}}
    </div>
  </div>

  {{> toaster}}
</template>
