<template name='contactAdd'>
<div class='create-modal' id='contact-create-modal'>
  <div class='header'>
    <span class='header-title'>New Contact</span>
    <span class='fui-cross' id='close-contact-create-modal'></span>
  </div>
  <div class='content'>
    <input type='text' class='form-control' id='search-contact-to-add' placeholder="Username or Name" />

    <ul class='contact-create-list'>
      {{#each contact in contactCreateList}}
      <li data-val='{{contact._id}}'>
        <div class='name'><a>{{contact.first_name}}</a></div>
        <div class='checkbox'>
          <h5><span class='icon-unchecked'></span></h5>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class='footer'>
    <button class='btn btn-success' id='btn-add-contact'><span class='fui-plus'></span> Add</button>
  </div>
</div>
</template>
