<template name='contact'>
  <div class='contact'>
    <div class='row contact-header'>
      <div class='col-xs-6 col-sm-6 col-md-6'>
        <h5>Contact</h5>
      </div>
      <div class='col-xs-6 col-sm-6 col-md-6'>
        <div class='btn-group pull-right'>
          <button data-toggle='dropdown' class='btn btn-primary dropdown-toggle'>
            Manage Contact
            <span class='caret'></span>
          </button>

          <ul class='dropdown-menu'>
            <li id='contact-add'><a href=''>Add Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    {{#if isEqual showCreateContact true}}
    {{> contactAdd}}
    {{/if}}

    {{> contactList}}
  </div>

  {{> contactMobile}}
</template>
