<template name='message'>
  {{> messageNav}}

<div class='message-area'>
  {{> conversation}}
  {{> conversationMobile}}

  <div class='message'>
    <div class='header'>
      <div class='avatar'></div>
      <div class='description'>
        <h5>{{activeMessageContact}}</h5>
      </div>
      <div class='action'>
        <button id='message-extended-menu'><span class='fui-list-large-thumbnails'></span></button>
      </div>
    </div>

    <div class='content'>
      {{#each message in messages}}
      {{#if isEqual message.owner me.user_id}}
      <div class='message-bubble-me'>
        {{message.content}}
      </div>
      {{else}}
      <div class='message-bubble-them'>
        {{message.content}}
      </div>
      {{/if}}
      {{/each}}
    </div>

    <div class='footer'>
      <div class='message-input-group'>
        <input type='text' class='message-input' id='message-input' placeholder="Your message?" />
        <button class='message-send-btn'><span class='fui-plus'></span></button>
      </div>
    </div>
  </div>
</div>
</template>
