<template name='contactMobile'>
<div class='contact-mobile'>
  <div class='contact-mobile-header'>
    <div class='title'>Contact</div>
    <div class='action'>
      <a href=''><span class='fui-list-large-thumbnails'></span></a>
      <ul>
        <li class='label'>Manage Contact</li>
        <li><a href=''>Add contact</a></li>
        <li class='search'>Search Contact</li>
        <li><input type='text' placeholder="Name" /></li>
      </ul>
    </div>
  </div>

  <div class='contact-mobile-content'>
    <ul class='contact-mobile-list'>
      {{#each contact in contacts}}
      <li class='contact-mobile-list-item'>
        <div class='avatar'></div>
        <div class='content'>
          <span>{{contact.first_name}}</span>
        </div>
        <div class='action btn-group'>
          <a href='' data-toggle='dropdown'><span class='fui-list'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li class='contact-mobile-action-message'><a href='' data-val='{{contact._id}}'>Message</a></li>
            <li class='contact-mobile-action-remove'><a href='' data-val='{{contact._id}}'>Remove</a></li>
          </ul>
        </div>

        <nav class='action-nav'></nav>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class='contact-mobile-footer'>

  </div>
</div>
</template>
