<template name='forgotPassword'>
<div class='andro-form'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-12'>
            <img src='/images/logo/andromeda-logo-nt.png' width='100px'/>
            <h5>ANDROMEDA</h5>
            <small>FORGOT PASSWORD</small><br>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-12'>
            <input type='text' class='form-control' placeholder='Email Address' /><br>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <button class='btn btn-primary'>Reset Password</button><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='footer'>
    <div class='row'>
      <div class='col-md-6'>
        <a href='/'>Login</a><br>
      </div>
      <div class='col-md-6'>
        <a href='/register'>Register</a><br>
      </div>
    </div>
  </div>
</div>
</template>
