<template name='contactList'>
  <div class='contact-list'>
    <div class='row'>
      {{#each contact in contacts}}
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='tile contact-list-item'>
          <div  class='contact-avatar'></div>
          <h5 class='tile-title'>{{contact.first_name}}</h5>

          <div class='contact-list-item-footer'>
            <button class='btn btn-sm message-contact-btn' data-val='{{contact._id}}'><span class='fui-chat'></span> Message</button>
            <button class='btn btn-sm remove-contact-btn' data-val='{{contact._id}}'><span class='fui-cross'></span> Remove</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
