<template name='messageNav'>
<nav class='message-navigation'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <a href='' class='message-navigation-action' id='close-message-navigation'>
          <span class='fui-cross'></span>
        </a>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-3'>
        <a href='' id='open-conversation-list'><span class='fui-bubble'></span></a>
      </div>
      <div class='col-xs-3'>

      </div>
      <div class='col-xs-3'>

      </div>
      <div class='col-xs-3'>

      </div>
    </div>
  </div>
</nav>
</template>
