<template name='profile'>
<div class='profile'>
  <div class='header'>
    <div class='row'>
      <div class='col-md-6'>
        <h5>Profile</h5>
        <small>Manage your profile information</small>
      </div>
      <div class='col-md-6'>
        <div class='action-group pull-right'>
          <button class='btn btn-default'>Close Account</button>
          <button class='btn btn-success'>Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class='form'>
    <label>Email Address</label><br>
    <input type='text' class='form-control' placeholder="Email Address" value='{{profile.email}}'/><br>

    <label>First Name</label><br>
    <input type='text' class='form-control' placeholder="First Name" value='{{profile.first_name}}'/><br>

    <label>Last Name</label><br>
    <input type='text' class='form-control' placeholder="Last Name" value='{{profile.last_name}}' /><br>
  </div>

  <div class='form'>
    <label>New Password</label><br>
    <input type='password' class='form-control' placeholder="New Password" /><br>

    <label>Re-type Password</label><br>
    <input type='text' class='form-control' placeholder="Re-type Password" /><br>
  </div>
</div>
</template>
